html {
  scroll-behavior: smooth;
}

#home {
  background-image: url("./assets/bg.png");
  background-position: top left;
  background-repeat: no-repeat;
}
.animatezz {
  transition: transform 0.15s linear;
}

.opacity-0 {
  opacity: 0;
}
