html {
  scroll-behavior: smooth;
}

.App {
  background-image: url("./assets/bg.png");
  background-position: top left;
  background-repeat: no-repeat;
}
.animatezz {
  transition: transform 0.15s linear;
}
#nav {
  transition: 500ms;
}
