#home {
  background-image: url("./assets/bg.png");
  background-position: top left;
  background-repeat: no-repeat;
}

#border {
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 30px,
      #d50000 30px,
      #d50000 32px,
      transparent 32px
    ),
    linear-gradient(to right, #d50000, #304ffe),
    radial-gradient(
      circle at 0% 100%,
      transparent 30px,
      #304ffe 30px,
      #304ffe 32px,
      transparent 32px
    ),
    linear-gradient(to bottom, #304ffe, #00bfa5),
    radial-gradient(
      circle at 0% 0%,
      transparent 30px,
      #00bfa5 30px,
      #00bfa5 32px,
      transparent 32px
    ),
    linear-gradient(to left, #00bfa5, #ffd600),
    radial-gradient(
      circle at 100% 0%,
      transparent 30px,
      #ffd600 30px,
      #ffd600 32px,
      transparent 32px
    ),
    linear-gradient(to top, #ffd600, #d50000);
}
